.center-text{
	text-align: center !important; 
	}

.center-text{
	text-align: center;
}

.roboto{
	font-family: 'Roboto Condensed', sans-serif;
}
.blue{
	background-color:#D6E3F8 !important;
}
.fonty{
	color:#FEF5EF;
}

.trendy{
	font-family: 'Shadows Into Light', sans-serif;
}

.row.no-gutters {
  margin-right:0;
  margin-left:0;
}
.site{
	background-color:#AFD0BF
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right:0;
  padding-left:0;
}

img{height:1100px; width:1100px; }


@media (min-width: 576px) {
	.font-class{
		font-size:10px;
	}
	.font-roboto{
	font-family: 'Roboto Condensed', sans-serif;
	}
	.container{
	background-color:#AFD0BF;
	}
}

@media (min-width: 768px) {
	.font-class{
		font-size:25px;
	}
	.font-roboto{
	font-family: 'Roboto Condensed', sans-serif;
	}
	.container{
	background-color:#AFD0BF;
	}
}

@media (min-width: 992px) { 
	.font-class{
		font-size:50px;
	}
	.font-roboto{
	font-family: 'Roboto Condensed', sans-serif;
	}
	.container{
	background-color:#AFD0BF;
	}

 }


@media (min-width: 1200px) {
	.font-class{
		font-size:150px;
	}
	.font-roboto{
	font-family: 'Roboto Condensed', sans-serif;
	}
	.center-text{
		margin:0;
	}
	.container{
	background-color:#AFD0BF;
	}
}




